section,
header,
nav,
article,
aside,
footer {
    display: block;
}

body {
  background-color: #0F8273;
   }

.nav_flag {
  background-color: #08413A;
}

h1, h2, h3 {
  /*text-decoration-color: #F8FAA7;*/
  color: #F8FAA7;
  align-items: center;


}
.col-centered{
   float: none;
   margin: 0 auto;
}

p {
   margin-top: 20px;
}

nav {
  color: #F8FAA7;
}

.bg-card {
  background-color: #FCFDCF;
}
.offcanvasDarkNavbar2 {
  color: #78E100;
  background-color: rgba(8,65,58, .90);
}
.titul{
  font-weight:200;
  font-size: 2.7em;
  color: #78E100
}
.titul_2{
  font-size: 3.8em;
  color: #08413A;
}
.titul_3 {
  background-color: #78E100;
  color: #0F8273;
  border: #F8FAA7;
  /*border-radius: .1em;*/
  font-size: 1em;
  padding: 1em;
  /*border-radius: inherit;*/

}
/*.slide {*/
/* color: #08413A;*/
/*  */
/*}*/
/*.container- {*/
/*  background-color: #0B6256;*/
/*}*/

/*<uniquifier>: Use a unique and descriptive class name*/
/*<weight>: Use a value from 200 to 700
ExtraLight 200 Light 300 Regular 400 Medium 500 SemiBold 600 Bold 700*/
/* */
.oswald-container {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight:700;
  font-style: normal;
}

.montserrat-container {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-thin {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.montserrat-alternates-extralight {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.montserrat-alternates-light {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.montserrat-alternates-regular {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.montserrat-alternates-medium {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.montserrat-alternates-semibold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.montserrat-alternates-bold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.montserrat-alternates-black {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.montserrat-alternates-thin-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.montserrat-alternates-extralight-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.montserrat-alternates-light-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.montserrat-alternates-regular-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.montserrat-alternates-medium-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.montserrat-alternates-semibold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.montserrat-alternates-bold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.montserrat-alternates-extrabold-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.montserrat-alternates-black-italic {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 900;
  font-style: italic;
}
